body {
    background-color: rgb(1, 9, 22);
    color: #fff;
}

header{
    font-size: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    background-color: rgb(159, 51, 5);
    display: flex;
}

.container {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

/* styling the input */
input {
    max-width: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font: 25px;
}
